<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/products/product2">IT SHOP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/products/product2">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products/product">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products/product2">Product2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/contact">Contact</a>
            </li>
        </ul>
        <div class="navbar-nav ml-auto">
            <div class="btn-group">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    User Management
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/users/login">Sign In</a>
                    <a class="dropdown-item" href="/users/signup">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</nav>
{{!-- <span class="sr-only">(current)</span> --}}