{{#if message}}
        <div class="alert alert-primary alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{message}}</strong>
        </div>
{{/if}}
<div class="row">
    <div class="col-6">
        <h3>THÔNG TIN LIÊN HỆ</h3>
        <p>Trường Đại học Công nghệ Thông tin ĐHQG TPHCM</p>
        <p>KP6, Thủ Đức, Hồ Chí Minh, Việt Nam</p>
        <p>P : (028) 372 52002</p>

        <div class="email-web">
            <p class="import">Email : <a href="">info@uit.edu.vn</a></p>
            <p class="import">Website : <a href="">uit.edu.vn</a></p>
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3918.2324288146738!2d106.801
                    61941411598!3d10.86991839225808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s
                    !4v1588878290282!5m2!1svi!2s" width="500" height="400" frameborder="0" style="border:0;"
            allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe>
    </div>

    <div class="col-6">
        <h3>Liên hệ với chúng tôi</h3>
        <form action="/users/contact" class="needs-validation" method="POST" novalidate>
            <div class="col-md row">
                <label class="col-sm-4 col-form-label import" for="name">Họ và tên:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="name" name="name" value="" required>
                </div>
            </div>
            <div class="col-md row">
                <label class="col-sm-4 col-form-label import" for="email">Địa chỉ email</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="email" name="email" value="" required>
                </div>
                
            </div>
            <div class="col-md row">
                <label class="col-sm-4 col-form-label import" for="phone">Số điện thoại</label>
                <div class="col-sm-8">
                    <input type="tel" class="form-control" id="phone" name="phone" value="" required>
                </div>
            
            </div>

            <div class="col-md row">
                <label class="col-sm-4 col-form-label import" for="message">Thông điệp</label>
                <div class="col-sm-8">
                    <textarea class="form-control" name="message" id="message" cols="30"
                        rows="10"></textarea>
                    <div class="container" style="padding: 0px;">
                        <button style="margin-top: 20px;" class="btn btn-primary"
                        type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
        <script src="../../public/script/contact.js"></script>
    </div>
</div>
