<div class="row">
    <div class="col-6">
        <h4>Thông tin Liên hệ</h4>
        <p>Trường Đại học Công nghệ Thông tin ĐHQG TPHCM</p>
        <P>KP6, Thủ Đức, Hồ Chí Minh, Việt Nam</P>
        <p>P : (028) 372 52002</p>

        <div class="email-web">
            <p class="import">Email : <a href="">info@uit.edu.vn</a></p>
            <p class="import">Website : <a href="">uit.edu.vn</a></p>
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3918.2324288146738!2d106.801
                    61941411598!3d10.86991839225808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s
                    !4v1588878290282!5m2!1svi!2s" width="500" height="400" frameborder="0" style="border:0;"
            allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe>
    </div>

    <div class="col-6">
        <h4>Liên hệ với chúng tôi</h4>
        <form action="/users/contact" class="needs-validation" method="POST" novalidate>
            <div class="col-md row">
                <label class="col-sm-4 col-form-label" for="validationCustom01">Họ và Tên</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="validationCustom01" name="name" value="" required>
                </div>
                <div class="valid-feedback">
                    Tốt
                </div>
                <div class="invalid-feedback">
                    Xin nhập họ tên
                </div>
            </div>
            <div class="col-md row">
                <label class="col-sm-4 col-form-label" for="validationCustom02">Địa chỉ email :</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="validationCustom02" name="email" value="" required>
                </div>
                <div class="valid-feedback">
                    Tốt
                </div>
                <div class="invalid-feedback">
                    Xin nhập địa chỉ email
                </div>
            </div>
            <div class="col-md row">
                <label class="col-sm-4 col-form-label" for="validationCustom03">Số điện thoại :</label>
                <div class="col-sm-8">
                    <input type="tel" class="form-control" id="validationCustom03" name="phone" value="" required>
                </div>
                <div class="valid-feedback">
                    Tốt
                </div>
                <div class="invalid-feedback">
                    Xin nhập số điện thoại
                </div>
            </div>

            <div class="col-md row">
                <label class="col-sm-4 col-form-label" for="validationCustom04">Thông điệp</label>
                <div class="col-sm-8">
                    <textarea class="form-control" name="message" id="validationCustom04" cols="30"
                        rows="10"></textarea>
                    <button style="margin-top: 20px; text-align: center;" class="btn btn-primary"
                        type="submit">Submit</button>
                </div>
            </div>
        </form>

        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
        <!-- <div class="alert alert-info alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    Chúng tôi đã tiếp nhận yêu cầu!
                </div> -->
    </div>
</div>