<h3>Create Product</h3>
{{# each errors}}
<div class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{this}}</strong>
</div>
{{/each}}

<form action="/products/create" class="needs-validation" method="POST" enctype="multipart/form-data" novalidate>
    <div class="col-md row">
        <label class="col-sm-2 col-form-label" for="id">Id</label>
        <div class="col-sm-10">
            <input type="text" name="id" class="form-control" id="id" required>
        </div>
    </div>
    <div class="col-md row">
        <label class="col-sm-2 col-form-label" for="name">Title</label>
        <div class="col-sm-10">
            <input type="text" name="name" class="form-control" id="name" value="" required>
        </div>
    </div>
    <div class="col-md row">
        <label class="col-sm-2 col-form-label" for="description">Summary</label>
        <div class="col-sm-10">
            <input type="text" name="description" class="form-control" id="description" value="" required>
        </div>
    </div>

    <div class="col-md row">
        <label class="col-sm-2 col-form-label" for="image">ImageUrl</label>
        <div class="col-sm-10">
            <input style="margin-top: 10px;" name="image" class="form-control-file" type="file" id="image"
                accept="image/*">
        </div>
    </div>

    <div class="col-md row">
        <label class="col-sm-2 col-form-label" for="price">Price</label>
        <div class="col-sm-10">
            <input type="number" name="price" class="form-control" id="price" value="" required>
        </div>
    </div>

    <div class="col-md row">
        <label class="col-sm-2 col-form-label" for="amount">Number</label>
        <div class="col-sm-10">
            <input type="number" name="amount" class="form-control" id="amount" value="" required>
            <button style="margin-top: 20px; text-align: center;" class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
</form>
<script src="../../public/script/create-product.js"></script>
